* {
    font-family: helvetica, sans-serif;
    margin: 0;
}

body {
    font-size: 16px;
    height: 100%;
    background: linear-gradient(-100deg, #A2F2F1 0%, #B19AFE 100%);
    background-size: cover;
}

.mainHeader {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}

.mainHeader input {
    display: inline-block;
    box-sizing: border-box;
}

.searchfield {
    position: relative;
}

.searchfield i {
    position: absolute;
    right: 10px;
    top: 5px;
}

.searchfield input {
    border-radius: 15px;
    outline: none;
    padding: 5px 0px 5px 10px;
    border: 1px solid lightgray;
    background-color: #F6F7FD;
}

.mainContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.profileInformation {
    background: #FFFFFF;
    max-width: 18rem;
    width: 30%;
    box-sizing: content-box;
    height: 20%;
    margin-right: 10px;
}

.personalInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.personalInformation label {
    font-weight: bold;
}

.personalInformation img {
    width: 5.25rem;
    height: 5.25rem;
    border-radius: 50%;
}

.socialInformation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F6F7FD;
    height: 3.75rem;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: row;
}

.left .unit {
    padding-left: 20px;
}

.socialInformation button {
    border-radius: 15px;
    outline: none;
    border: 1px solid #A9DCEA;
    width: 70px;
    height: 30px;
    color: #A9DCEA;
    cursor: pointer;
    margin-right: 20px;
}

.unit {
    display: flex;
    flex-direction: column;
}

.unit .number {
    color: #A9DCEA;
    font-weight: bold;
    font-size: 1.125rem;
}

.unit .title {
    font-size: 0.75rem;
}

.commentsSection {
    max-width: 55rem;
    width: 40%;
}

.writeComment {
    background-color: #F6F7FD;
    height: 3.75rem;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    position: relative;
}

.writeComment input {
    width: 80%;
    border-radius: 15px;
    outline: none;
    border: 1px solid lightgray;
    height: 30px;
    padding-left: 10px;
    margin-top: 15px;
    margin-right: 10px;
}

.writeComment img {
    padding-top: 10px;
}

.writeComment i {
    position: absolute;
    right: 45px;
    top: 25px;
    color: #A9DCEA;
}

.profileIcon img {
    padding-top: 10px;
}

.fa-times {
    padding-right: 10px;
}

.writeComment input::placeholder {
    color: #A9DCEA;
}

.commentsSection img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding-right: 10px;
    padding-left: 10px;
}

.comment {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    border-bottom: 1px solid lightgray;
    padding-top: 10px;
    min-height: 7rem;
    font-size: 0.875rem;
}

.commentHeading {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
}

.postInfo {
    display: flex;
    flex-direction: row;
}

.commentHeading label {
    font-weight: bold;
}

.commentHeading li {
    padding-left: 10px;
    color: #848694;
}

.commentBody p {
    padding: 10px 10px 10px 0px;
}

.commentBody i {
    padding-bottom: 10px;
    padding-right: 30px;
    padding-bottom: 1rem;
}

@media (max-width: 890px) {
    .mainHeader {
        display: flex;
        justify-content: space-around;
        margin: auto;
    }
    .mainContent {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
    .profileInformation {
        width: 90%;
        margin: auto;
    }
    .commentsSection {
        width: 90%;
        margin: auto;
    }
}